body {
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.heading1 {
  color: #0D8CCD;
  font-size: 16px;
  background-color: #000;
  display: flex;
  justify-content: center;
}

.textbox h1 {
  color: red;
}
.textbox h1:hover {
  color: black;
}

::-webkit-scrollbar {
  display: none;
}

.slider-image-box {
  height: 660px;
  width: 100%;
  cursor: pointer;
  background-position: top !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.slick-active-main .slick-dots {
  bottom: 90px;
}
.slick-active-main .slick-dots li button:before {
  content: " " !important;
  background-color: #b5b5b5 !important;
  border-radius: 7px;
  height: 10px;
  width: 22px;
  opacity: initial;
}
.slick-active-main .slick-dots li.slick-active button:before {
  background-color: #042cb0 !important;
}

.online-card-min {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.card-index-show {
  position: relative;
  z-index: 999;
}
.card-index-show h6 {
  color: #fff;
  max-width: 120px;
  margin-bottom: 20px;
}
.card-index-show p {
  color: #fff;
}

.rating-style .MuiRating-root {
  font-size: 17px;
  color: #df6e12;
}

.MuiList-padding {
  padding: 10px !important;
}

.display-topsection {
  display: flex;
  justify-content: space-between;
  padding: 0px 24px;
}

.BoxStyleCss {
  background-color: #ffffff;
  box-shadow: 0 0 20px rgba(4, 44, 176, 0.2);
  right: -218px;
  transition: 0.5s;
  padding: 12px;
  font-size: 20px;
  color: #042cb0;
  border-radius: 5px 0 0 5px;
  position: fixed;
  width: 240px;
  z-index: 999;
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
}

.BoxStyleCss:hover {
  right: 0px;
}

.widget-section-1 {
  top: calc(50% - 150px);
}

.widget-section-2 {
  top: calc(50% - 88px);
}

.widget-section-3 {
  top: calc(50% - 26px);
}

.widget-section-4 {
  top: calc(50% + 36px);
}

.widget-section-5 {
  top: calc(50% + 100px);
}

.skillCards {
  transition: all 0.5s;
}

.skillCards:hover {
  transform: scale(1.1);
}

@keyframes floatAnimation1 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes floatAnimation2 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes floatAnimation3 {
  0% {
    transform: translateY(0) translateX(0);
  }
  50% {
    transform: translateY(-10px) translateX(10px);
  }
  100% {
    transform: translateY(0) translateX(0);
  }
}
.floating-image1 {
  animation: floatAnimation1 2s ease-in-out infinite;
}

.floating-image2 {
  animation: floatAnimation2 2s ease-in-out infinite;
}

.floating-image3 {
  animation: floatAnimation3 2s ease-in-out infinite;
}

@media (max-width: 767px) {
  .display-topsection {
    flex-direction: column;
    padding: 0px;
  }
  .paddingBox {
    padding: 8px 0px;
  }
}/*# sourceMappingURL=main.css.map */